@mixin buphagusResponsiveMenu(){

	div#buphagusResponsiveMenuWrap{
		display        : none;
		position       : absolute;
		z-index        : 150;
		width          : 100%;
		height         : 0;
		overflow       : visible;
		box-sizing     : border-box;
		padding        : 0 50px;
		margin         : -67px 0 0;
		text-transform : uppercase;

		&.open{
			span:nth-child(1){
				transform : rotate(-135deg) translateX(-10px) translateY(-10px);
			}
			span:nth-child(2){
				transform : rotateY(90deg);
				opacity   : 0;
			}
			span:nth-child(3){
				transform : rotate(135deg) translateX(-10px) translateY(10px);
			}

			#buphagusResponsiveMenu{
				transform  : translateX(0);
				opacity    : 1;
				box-shadow : 0px 0px 5px rgba(#000,.5);
			}
		}
		@media screen and (max-width: 750px) {
			display : block;
		}

		@media screen and (max-width: 600px) {
			padding : 0 1%;
		}
	}

	div#buphagusResponsiveMenuButton{
		box-sizing    : border-box;
		display       : inline-block;
		background    : #030B22;
		padding       : 15px 15px 10px;
		margin        : 0;
		max-width     : 84%;
		cursor        : pointer;
		overflow      : hidden;
		width         : 67px;
		border-radius : 6px 6px 0 0;
		
		span{
			display                    : block;
			height                     : 6px;
			background                 : #fff;
			margin                     : 0 0 8px;
			border-radius              : 2px;
			transition-property        : transform, opacity; 
			transition-duration        : 0.5s; 
			transition-timing-function : ease-in-out;
		}
	}

	div#buphagusResponsiveMenu{
		max-width                  : 100%;
		// width                      : 400px;
		background                 : #030B22;
		transform                  : translateX(-150%);
		box-shadow                 : 0 0 0 rgba(#000,.5);
		opacity                    : 0;
		margin                     : -5px 0 0;
		transition-property        : transform, box-shadow, opacity;
		transition-duration        : 0.5s;
		transition-timing-function : ease-in-out;

		ul{
			margin  : 0;
			padding : 0;
		}

		li{
			display : block;
		}

		a{
			display         : block;
			padding         : 10px 5%;
			color           : #fff;
			text-decoration : none;
			@include font-size(20px,$margin: 0);
		}
		
		a:hover,
		li.current-menu-ancestor a,
		li.current-menu-parent a,
		li.current-menu-item a{
			background : #ffda00;
			color      : #030B22; //darken(#b48500, 10%);
		}
	}
}